@use '../utils' as *;

/*=============================
    	09. About
===============================*/
.about {
    &__area {
        position: relative;
        z-index: 1;
    }
    &__content {
        @media #{$md} {
            margin-bottom: 50px;
        }
        & .title {
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 120px;
            line-height: .8;
            color: var(--tg-primary-color);
            display: block;
            @media #{$lg} {
                font-size: 100px;
            }
            @media #{$xs} {
                font-size: 75px;
            }
        }
        & p {
            margin-bottom: 0;
            font-size: 20px;
        }
        &-two {
            & p {
                margin-bottom: 50px;
                font-size: 20px;
                @media #{$xs} {
                    margin-bottom: 30px;
                }
            }
        }
    }
    &__inner-wrap {
        padding-top: 120px;
        border-top: 1px solid #282828;
        border-bottom: 1px solid #282828;
        @media #{$md} {
            padding-top: 100px;
        }
    }
    &__map {
        position: relative;
        overflow: hidden;
        margin-right: 12px;
        @media #{$md} {
            margin-right: 0;
            margin-bottom: 30px;
        }
        & img {
            border: 1px solid var(--tg-border-1);
            @include border-radius(10px);
            width: 100%;
        }
        &-list {
            position: absolute;
            text-align: center;
            &:nth-child(1) {
                left: 15%;
                top: 11%;
            }
            &:nth-child(2) {
                left: 15%;
                bottom: 45%;
            }
            &:nth-child(3) {
                left: 41%;
                top: 22%;
            }
            &:nth-child(4) {
                right: 26%;
                top: 32%;
            }
            &:nth-child(5) {
                left: 49%;
                bottom: 33%;
            }
            &:hover {
                & .text {
                    opacity: 1;
                    visibility: visible;
                }
            }
            & .dot {
                width: 6px;
                height: 6px;
                display: block;
                background: var(--tg-primary-color);
                @include border-radius(50%);
                cursor: pointer;
            }
            & .text {
                display: block;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                line-height: 1;
                border: 1px solid var(--tg-primary-color);
                backdrop-filter: blur(6px);
                box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.25);
                background: rgba(255, 255, 255, 0.01);
                color: var(--tg-color-white-default);
                padding: 6px 10px;
                @include border-radius(30px);
                white-space: nowrap;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -36px;
                opacity: 0;
                visibility: hidden;
                @include transition(.3s);
            }
        }
    }
    &__list {
        @include flexbox();
        gap: 55px;
        padding-bottom: 120px;
        @media #{$lg} {
            gap: 35px;
            padding-bottom: 80px;
        }
        @media #{$xs} {
            gap: 20px;
            padding-bottom: 50px;
        }
        & .icon {
            width: 100px;
            height: 100px;
            @include flexbox();
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            border: 1px solid #282828;
            @include border-radius(50%);
            background: var(--tg-secondary-color);
            @include transition(.3s);
            @media #{$xs} {
                width: 80px;
                height: 80px;
            }
        }
        &.active {
            & .icon {
                border-color: var(--tg-primary-color);
            }
        }
        & .content {
            & .title {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 40px;
                @media #{$lg} {
                    font-size: 30px;
                }
                @media #{$xs} {
                    font-size: 25px;
                }
            }
            & p {
                margin-bottom: 30px;
                font-weight: 400;
                font-size: 20px;
                @media #{$lg} {
                    font-size: 18px;
                }
            }
            & .list-wrap {
                @include flexbox();
                align-items: center;
                & li {
                    width: 50px;
                    height: 50px;
                    @include flexbox();
                    align-items: center;
                    justify-content: center;
                    background: var(--tg-secondary-color);
                    border: 1px solid #282828;
                    @include border-radius(50%);
                    margin-left: -5px;
                    font-size: 15px;
                    font-weight: 400;
                    & img {
                        max-width: 28px;
                    }
                }
            }
        }
        &-item {
            border: 1px solid var(--tg-border-1);
            @include border-radius(10px);
            @include flexbox();
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 30px 30px;
            gap: 20px;
            margin-bottom: 20px;
            @media #{$lg} {
                padding: 20px 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            & .content {
                & .count {
                    font-size: 48px;
                    letter-spacing: -0.03em;
                    color: var(--tg-primary-color);
                    line-height: 1;
                    margin-bottom: 12px;
                    @media #{$lg} {
                        font-size: 38px;
                        margin-bottom: 8px;
                    }
                }
                & p {
                    font-size: 20px;
                    margin-bottom: 0;
                    @media #{$lg} {
                        font-size: 18px;
                    }
                }
            }
            & .thumb {
                width: 108px;
                flex: 0 0 auto;
            }
        }
        &-wrap {
            position: relative;
            z-index: 1;
            &-two {
                border: 1px solid var(--tg-border-1);
                padding: 40px 20px 20px;
                @include border-radius(10px);
                margin-left: -12px;
                @media #{$lg} {
                    padding: 20px 20px 20px;
                }
                @media #{$md} {
                    margin-left: 0;
                }
                & .big-img {
                    text-align: center;
                    margin-bottom: 33px;
                    @media #{$lg} {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    &__img {
        text-align: right;
        @media #{$md} {
            text-align: center;
            margin: 30px;
        }
    }
    &__shape {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
    }
}


.progress__bar {
    position: absolute;
    top: 0;
    left: 50px;
    width: 1px;
    height: 100%;
    background: #282828;
    z-index: -1;
    @media #{$xs} {
        left: 40px;
    }
}
.progress__bar span {
    position: absolute;
    display: block;
    width: 100%;
    height: 0%;
    background: var(--tg-primary-color);
    z-index: 2;
    left: 0;
    top: 0;
}