@use '../utils' as *;

/*=============================
    	14. Contact
===============================*/
.contact-map {
    width: 100%;
    height: 600px;
    @media #{$xl} {
        height: 520px;
    }
    @media #{$lg} {
        height: 460px;
    }
    @media #{$xs} {
        height: 400px;
    }
    & iframe {
        width: 100%;
        height: 100%;
        mix-blend-mode: luminosity;
        @include border-radius(10px);
    }
}

.contact {
    &__info-wrap {
        margin-top: 80px;
        @media #{$md} {
            margin-top: 40px;
            margin-bottom: 50px;
        }
    }
    &__info-item {
        @include flexbox();
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
        @media #{$md} {
            margin-bottom: 20px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        & .icon {
            width: 80px;
            height: 80px;
            @include flexbox();
            align-items: center;
            justify-content: center;
            background: var(--tg-secondary-color);
            border: 1px solid var(--tg-border-1);
            @include border-radius(50%);
            color: var(--tg-primary-color);
            flex: 0 0 auto;
            @media #{$xs} {
                width: 60px;
                height: 60px;
            }
            & svg {
                @media #{$xs} {
                    width: 30px;
                    height: auto;
                    max-height: 30px;
                }
            }
        }
        & .content {
            & .title {
                margin-bottom: 10px;
                font-size: 24px;
                letter-spacing: -0.03em;
                @media #{$xs} {
                    font-size: 20px;
                    margin-bottom: 5px;
                }
            }
            & a {
                font-size: 18px;
                color: var(--tg-body-font-color);
                @media #{$xs} {
                    font-size: 16px;
                }
                &:hover {
                    color: var(--tg-primary-color);
                }
            }
            & p {
                margin-bottom: 0;
                font-size: 20px;
                @media #{$xs} {
                    font-size: 16px;
                }
            }
        }
    }
    &__form {
        & .form-grp {
            margin-bottom: 30px;
            & label {
                display: block;
                user-select: none;
                cursor: pointer;
                font-weight: 600;
                font-size: 16px;
                line-height: 1;
                color: var(--tg-color-white-default);
                margin-bottom: 12px;
            }
            & textarea,
            & input {
                width: 100%;
                font-size: 16px;
                border: 1px solid var(--tg-border-1);
                background: var(--tg-secondary-color);
                @include border-radius(10px);
                color: var(--tg-color-white-default);
                display: block;
                padding: 15px 24px;
                height: 60px;
                &::placeholder {
                    font-size: 16px;
                }
            }
            & textarea {
                min-height: 200px;
                max-height: 200px;
            }
            &.select-grp {
                position: relative;
                & select {
                    background-color: var(--tg-secondary-color);
                    border: 1px solid var(--tg-border-1);
                    color: var(--tg-body-font-color);
                    font-weight: 400;
                    font-size: 16px;
                    border-radius: 10px;
                    outline: none;
                    padding: 15px 50px 15px 24px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 100%;
                    line-height: 1.2;
                    height: 60px;
                    cursor: pointer;
                }
                &::after {
                    content: "\f107";
                    position: absolute;
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                    font-family: "flaticon_tg_default";
                    font-weight: 700;
                    right: 24px;
                    bottom: 17px;
                    font-size: 18px;
                    color: var(--tg-body-font-color);
                }
            }
        }
        & .tg-btn {
            width: 100%;
            justify-content: center;
        }
        &-wrap {
            background: var(--tg-secondary-color);
            border: 1px solid var(--tg-border-1);
            @include border-radius(10px);
            padding: 30px 30px;
            margin-right: 35px;
            @media #{$lg} {
                margin-right: 0;
                padding: 30px 20px;
            }
        }
    }
}

.error__inner-wrap {
    text-align: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 100px 50px;
    @include flexbox();
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 95%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        z-index: -1;
    }
    & p {
        margin-bottom: 50px;
        font-size: 20px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
    }
}
.error__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 400px;
    line-height: .8;
    color: var(--tg-primary-color);
    @media #{$xl} {
        font-size: 300px;
    }
    @media #{$md} {
        font-size: 250px;
    }
    @media #{$xs} {
        font-size: 150px;
    }
    & span {
        color: var(--tg-color-white-default);
    }
}

