@use '../utils' as *;

/*=============================
    	08. Counter
===============================*/
.counter {
    &__item {
        box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.12);
        background: #1b1b1c;
        padding: 30px 20px;
        @include border-radius(10px);
        text-align: center;
        height: 100%;
        @media #{$lg} {
            padding: 25px 10px;
        }
        & .count {
            line-height: .8;
            margin-bottom: 15px;
            @include flexbox();
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 64px;
            @media #{$lg} {
                font-size: 48px;
                margin-bottom: 10px;
            }
            & strong {
                font-weight: 600;
                color: var(--tg-primary-color);
            }
        }
        & p {
            margin-bottom: 0;
            font-size: 16px;
        }
    }
}


