@use '../utils' as *;

/*=============================
    	08. Pricing
===============================*/
.pricing {
    &__area {
        position: relative;
        z-index: 1;
    }
    &__box {
        background: var(--tg-secondary-color);
        border: 1px solid var(--tg-border-1);
        @include border-radius(10px);
        padding: 24px 10px 10px;
    }
    &__plan {
        padding: 0 20px 24px;
        position: relative;
        & .title {
            margin-bottom: 7px;
            font-weight: 500;
            font-size: 24px;
            @media #{$lg} {
                font-size: 20px;
                margin-bottom: 8px;
            }
        }
        & p {
            margin-bottom: 0;
            font-size: 16px;
            @media #{$lg} {
                font-size: 16px;
            }
        }
    }
    &__batch {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1;
        border: 1px solid var(--tg-border-1);
        color: var(--tg-primary-color);
        padding: 6px 10px;
        @include border-radius(30px);
        position: absolute;
        right: 20px;
        top: 0;
        @media #{$lg} {
            right: 0;
            font-size: 12px;
        }
    }
    &__info-wrap {
        padding: 20px 20px;
        border: 1px solid var(--tg-border-1);
        background-color: rgba(255, 255, 255, 0.04);
        @include border-radius(10px);
    }
    &__price {
        & .price {
            font-size: 64px;
            line-height: 1;
            @include flexbox();
            color: var(--tg-primary-color);
            border-bottom: 1px solid var(--tg-border-1);
            padding-bottom: 30px;
            margin-bottom: 30px;
            @media #{$lg} {
                font-size: 50px;
            }
            & strong {
                font-weight: 600;
                font-size: 24px;
                transform: translateY(4px);
                margin-right: 2px;
            }
            & span {
                font-size: 18px;
                font-weight: 400;
                color: var(--tg-body-font-color);
                margin-top: auto;
                transform: translateY(-4px);
                @media #{$lg} {
                    font-size: 16px;
                }
            }
        }
    }
    &__list {
        margin-bottom: 35px;
        @media #{$lg} {
            margin-bottom: 25px;
        }
        & li {
            @include flexbox();
            align-items: baseline;
            font-size: 18px;
            gap: 10px;
            margin-bottom: 12px;
            @media #{$lg} {
                font-size: 18px;
                margin-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            & i {
                width: 24px;
                height: 24px;
                @include flexbox();
                align-items: center;
                justify-content: center;
                background: var(--tg-primary-color);
                color: var(--tg-color-dark);
                font-size: 14px;
                @include border-radius(50%);
                transform: translateY(-1px);
                flex: 0 0 auto;
            }
        }
    }
    &__shape {
        & img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            z-index: -1;
            pointer-events: none;
        }
    }
}

