@use '../utils' as *;

/*=============================
    	08. Work
===============================*/
.work {
    &__area {
        position: relative;
        z-index: 1;
    }
    &__item {
        position: relative;
        padding: 60px 0 0 40px;
        width: 60%;
        margin-bottom: 100px;
        @media #{$lg} {
            width: 80%;
            padding: 40px 0 0 30px;
        }
        @media #{$md} {
            width: 100%;
            margin-bottom: 60px;
            padding: 25px 0 0 30px;
        }
        & .number {
            font-size: 120px;
            margin-bottom: 0;
            letter-spacing: -0.03em;
            opacity: 0.05;
            line-height: .8;
            position: absolute;
            left: 0;
            top: 0;
            @media #{$lg} {
                font-size: 100px;
            }
            @media #{$md} {
                font-size: 80px;
            }
        }
        & .title {
            margin-bottom: 16px;
            font-size: 24px;
            & span {
                color: rgba(255, 255, 255, 0.3);
            }
        }
        & p {
            margin-bottom: 0;
            font-size: 20px;
        }
        &-right {
            text-align: right;
            padding: 60px 40px 0 0;
            margin-left: auto;
            @media #{$lg} {
                padding: 40px 30px 0 0;
            }
            @media #{$md} {
                text-align: left;
                margin-right: auto;
                padding: 25px 0 0 30px;
            }
            & .number {
                left: auto;
                right: 0;
                @media #{$md} {
                    left: 0;
                    right: auto;
                }
            }
        }
        &-two {
            width: 160px;
            height: 160px;
            @include flexbox();
            align-items: center;
            justify-content: center;
            background: linear-gradient(135deg, #222325 0%, rgba(21 21 21) 100%);
            border: 1px solid var(--tg-border-1);
            @include border-radius(10px);
            position: absolute;
            flex-direction: column;
            @media #{$xs} {
                position: relative;
                left: 0 !important;
                top: 0 !important;
            }
            @media #{$sm} {
                width: 155px;
                height: 155px;
            }
            &:nth-child(1) {
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                @media #{$xs} {
                    transform: translate(0);
                }
            }
            &:nth-child(2) {
                right: 0;
                top: 24%;
            }
            &:nth-child(3) {
                right: 0%;
                bottom: 24%;
            }
            &:nth-child(4) {
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                @media #{$xs} {
                    transform: translate(0);
                }
            }
            &:nth-child(5) {
                left: 0%;
                bottom: 24%;
            }
            &:nth-child(6) {
                left: 0%;
                top: 24%;
            }
            &:nth-child(7) {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @media #{$xs} {
                    transform: translate(0);
                }
            }
            & img {
                height: 80px;
            }
            & .title {
                display: block;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: -0.03em;
                color: var(--tg-color-white-default);
                margin-top: 12px;
            }
            & .number {
                width: 30px;
                height: 30px;
                background: var(--tg-color-dark);
                @include flexbox();
                align-items: center;
                justify-content: center;
                @include border-radius(50%);
                font-weight: 500;
                font-size: 14px;
                color: var(--tg-color-white-default);
                position: absolute;
                right: -8px;
                top: -8px;
            }
        }
        &-wrap {
            position: relative;
            z-index: 1;
            & .row > * {
                &:first-child {
                    margin-bottom: 60px;
                }
            }
            &-two {
                position: relative;
                height: 700px;
                margin: 0 55px;
                @media #{$md} {
                    margin: 0;
                }
                @media #{$xs} {
                    height: auto;
                }
            }
        }
        &-inner {
            @media #{$xs} {
                @include flexbox();
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
            }
        }
    }
    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        @media #{$md} {
            position: initial;
            transform: translate(0);
            text-align: center;
            margin-bottom: 50px;
        }
        & img {
            @media #{$lg} {
                width: 400px;
            }
        }
    }
    &__shape {
        pointer-events: none;
        & img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -5%;
            z-index: -1;
        }
        &-two {
            & img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 15%;
                z-index: -1;
                pointer-events: none;
            }
        }
        &-wrap {
            & img {
                position: absolute;
                z-index: -1;
                @media #{$xs} {
                    display: none;
                }
                &:nth-child(1) {
                    top: 31%;
                    left: 26%;
                }
                &:nth-child(2) {
                    bottom: 31%;
                    left: 26%;
                }
                &:nth-child(3) {
                    top: 31%;
                    right: 26%;
                }
                &:nth-child(4) {
                    bottom: 31%;
                    right: 26%;
                }
            }
        }
    }
}

